.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100vh;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right:-20%;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}

.content {
  width: 23000px;
  height: 100vh;
  background-image: url('./media/bready1.png');
  background-size: contain;
  background-repeat: no-repeat; /* Prevent image repetition */
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-position-x: -200px;
}
